#wrapper {
  background: black;
  width: 30vw;
  margin: 10vw 35vw;
}

#wrapper button {
  width: 7.5vw;
  height: 7.5vw;
  opacity: 0.9;
  border: none;
  border: 1px solid white;
  display: inline-block;
}

#display {
  height: 7.5vw;
  color: white;
  text-align: right;
  line-height: 10vw;
  vertical-align: bottom;
}

#clear {
  width: 15vw !important;
  background-color: orange;
}

#equals {
  height: 15vw !important;
  background-color: red;
  margin-top: -7.5vw;
  margin-bottom: -5vw;
  vertical-align: top;
}

#zero {
  margin-top: -7.5vw;
  margin-bottom: -7.5vw;
  width: 15vw !important;
}

#wrapper button:active {
  border: none;
  background: grey;
  opacity: 1;
}

#wrapper button:focus {
  outline: 0;
}
